<div class="deskotp">
    <img class="icon-users" src="icon-users0.svg" />
    <img class="icon-users2" src="icon-users1.svg" />
    <img class="icon-users3" src="icon-users2.svg" />
    <img class="icon-users4" src="icon-users3.svg" />
    <img class="icon-users5" src="icon-users4.svg" />
    <img class="icon-users6" src="icon-users5.svg" />
    <div class="rectangle-13"></div>
    <img class="icon-users7" src="icon-users6.svg" />
    <div class="watchlike">watchlike</div>
    <div class="wf-button-drop-down">
      <div class="wf-button">
        <div class="icon-left-wrapper">
          <img class="icon-left" src="icon-left0.svg" />
        </div>
        <div class="label">Drop-down</div>
      </div>
    </div>
    <div class="group-2091">
      <img class="profile-pic" src="profile-pic0.png" />
    </div>
    <div class="amigos">Amigos</div>
    <div class="pelis">Pelis</div>
    <img class="icon-film" src="icon-film0.svg" />
    <div class="state">
      <div class="state2">watch list</div>
    </div>
    <div class="state3">
      <div class="state2">watch list</div>
    </div>
    <div class="archived">
      <div class="archived2">
        vistos
        <br />
      </div>
    </div>
    <div class="rectangle-1158"></div>
  </div>
  